.registration__body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
}
.registration__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.registration__form * {
    width: 100%;
    box-sizing: border-box;
}
.registration__input-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}



.registration__label {
    margin-bottom: 10px;
    display: block;
}