.main__bishkek-access {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
    margin-left: 125px;
}
.main__bishkek-access p {
    font-size: 35px;
    font-weight: 700;
    color: #200B63;
    opacity: .6;
}
.main__bishkek-access span {
    position: absolute;
    transform: rotate(-15deg) translateY(15%) translateX(-110%);
    left: 0;
}


h1 {
    max-width: 900px;
    font-size: 70px;
    font-weight: 600;
    text-wrap: balance;
}
h1 > div:first-child {
    font-size: 70px;
    position: relative;
    font-weight: 600;
}
h1 > div span {
    display: inline-block;
    transform: translate(10px, 7px);
}
._4Petst--purple-text {
    display: inline-block;
    font-size: 70px;
    color: #D5007F;
    font-weight: 600;
}