.successful-registration-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.successful-registration-block {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.successful-registration-icon {
    position: relative;
    margin-top: 50px;
    margin-bottom: 60px;
}
.successful-registration-icon > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.successful-registration-icon > div:last-child {
    background: white;
    width: 129px;
    height: 129px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 3.62px #00000040;
}