html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.chat-bot__page {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background: white;
  overflow: hidden;

  * {
    box-sizing: border-box;
  }

  .chat-bot__container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 15px 140px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  .chat-bot__no-messages-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .chat-bot__empty-message {
    font-size: 28px;
    font-weight: bold;
    color: #7b0671;
    text-align: center;
  }

  .chat-bot__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    padding-top: 100px;

    li {
      max-width: 75%;
      padding: 12px 16px;
      font-size: 15px;
      border-radius: 15px;
      word-break: break-word;

      &.bot {
        align-self: flex-start;
        background: #D5007F;
        color: white;
        border-radius: 0 15px 15px 15px;
      }

      &.user {
        align-self: flex-end;
        background: #F672E133;
        color: #D5007F;
        border-radius: 15px 15px 0 15px;
      }
    }
  }

  .chat-bot__input-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1200px;
    padding: 20px 15px;
    background: white;
    z-index: 10;

    .chat-bot__input-block {
      display: flex;
      align-items: center;
      gap: 15px;

      input {
        flex: 1;
        padding: 12px 20px;
        border: 2px solid #979797;
        border-radius: 25px;
        font-size: 16px;
        font-family: "Advent Pro", sans-serif;
        transition: 0.3s;

        &:hover {
          border-color: #D5007F;
          background: #fa1ea216;
        }

        &:focus {
          border-color: #ee1f9b;
          background: #ff3ab016;
          outline: none;
        }
      }

      .chat-bot__send-button {
        width: 44px;
        height: 44px;
        background: #979797;
        border-radius: 50%;
        border: none;
        transition: 0.3s ease;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background: #D5007F;
          transform: scale(1.1);
        }

        &:active {
          background: #D5007FB2;
          transform: scale(0.9);
        }
      }
    }
  }
}
.chat-bot__list li {
  position: relative;
  padding-bottom: 20px;

  small.chat-bot__timestamp {
    font-size: 11px;
    margin-top: 10px;
    display: block;
    text-align: right;
    opacity: .75;
  }

  &.bot small {
    text-align: left;
  }
}
