.footer {
    padding: 50px 15px;
    box-sizing: border-box;
}
.footer-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.footer__4pets-icon-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 350px;
}
.footer-contacts-information-block {
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 25px;
}
.footer__instagram-info {
    display: flex;
    align-items: center;
    gap: 25px;
}
.footer__instagram-icon-block {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: rgba(213, 0, 127, 1);
}
.footer__instagram-links-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    a {
      color: black;
      font-size: 20px;
      font-weight: 600;
    }
}
.footer__contacts-info {
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
      font-size: 20px;
      font-weight: 600;
    }
}


@media (max-width: 900px) {
    .footer__4pets-icon-block {
        transform: scale(.75);
    }
}
@media (max-width: 768px) {
    .footer__instagram-links-block {
        gap: 15px;
        a {
            font-size: 14px;
        }
    }
    .footer__contacts-info {
        gap: 10px;
        p {
            font-size: 14px;
        }
    }
    .footer__4pets-icon-block {
        transform: scale(.6);
    }
}
@media (max-width: 450px) {
    .footer-contacts-information-block {
        flex-direction: column;
        align-items: center;
    }
}