.auth-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    padding: 15px 0;
    z-index: 100000000000000000000000000000000000000000000000000;
    transition-duration: .3s;

    &._active {
        background: transparent;
    }

    .header-auth-burger {
        background: transparent;
        width: 45px;
        height: 40px;
        border: none;
        display: none !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 7.5px;
        box-sizing: border-box;
        border: 2px solid #200B63;
        border-radius: 8px;

        &._active {
            border: 2px solid white;
        }

        span {
            position: relative;
            width: 100%;
            height: 2px;
            background: #200B63;
            transition: 0.1s;

            &::before,
            &::after {
                content: '';
                position: absolute;
                left: 0;
                width: 100%;
                height: 2px;
                background: #200B63;
                transition: 0.1s;
            }
            &::before {
                top: 8px;
            }
            
            &::after {
                bottom: 8px;
            }

            &:active {
                background: transparent;
            }
        }

        
        &._active span {
            background: transparent;

            &::before {
                transform: rotate(40deg);
                transform-origin: center;
                background: white;
                top: 0;
            }

            &::after {
                transform: rotate(-40deg);
                transform-origin: center;
                background: white;
                bottom: 0;
            }
        }
    }
}
.auth-header__container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-auth-likst-block {
    display: flex;
    align-items: center;
    gap: 50px;
    li {
        a {
            color: black;
        }
        &:last-child {
            button {
                color: #1a1a1a;
                transition: 0.3s;
                font-size: 13px;
                background: transparent;
                border: none;
                cursor: pointer;
                font-family: "Advent Pro", sans-serif;
            }
        }
    }
}
.header-auth-button-block {
    display: flex;
    align-items: center;
    gap: 15px;
}


@media (max-width: 1000px) {
    .auth-header {
        .header-auth-burger {
            display: flex !important;

            span {
                background: #200B63;

                &::before, &::after {
                    background: #200B63;
                }
            }
        }               
    }
    .header-auth-likst-block {
        display: none;
    }
}
