.auth-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    padding: 15px 0;
    z-index: 100000000000000000000000000000000000000000000000000;

    .header-burger {
        display: none;
        border: 2px solid #200B63;
    }
}
.auth-header__container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-auth-likst-block {
    display: flex;
    align-items: center;
    gap: 50px;
    li {
        &:last-child {
            button {
                color: #1a1a1a;
                transition: 0.3s;
                font-size: 13px;
                background: transparent;
                border: none;
                cursor: pointer;
                font-family: "Advent Pro", sans-serif;
            }
        }
    }
}
.header-auth-button-block {
    display: flex;
    align-items: center;
    gap: 15px;
}


@media (max-width: 1000px) {
    .auth-header {
        .header-burger {
            display: flex;

            span {
                background: #200B63;

                &::before, &::after {
                    background: #200B63;
                }
            }
        }               
    }
    .header-auth-likst-block {
        display: none;
    }
}
