@font-face {
  font-family: 'Advent Pro';
  src: url('/src/assets/static/AdventPro-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Advent Pro';
  src: url('/src/assets/static/AdventPro-Medium.ttf');
  font-weight: 600;
  font-style: normal;
}
